$color-background1: rgb(83, 216, 198);
$color-background2: rgb(95, 211, 139);
$color-background3:rgb(207, 158, 166);
$color-background4:rgb(125, 187, 187);
$color-header:cornsilk;
$color-children:burlywood;
$color-mainBorder:black;
$color-mainChildrenBorder:crimson;
$color-footerBackground:chocolate;
$black:black;
$white:white;
$magenta:darkmagenta;
$restaurant-title:#ccc;
$restaurant-item:cornsilk;
$restaurant-address:rgb(77, 80, 73);
$restaurant-item-description:rgb(230, 87, 106);
$restaurant-item-shadow1:rgba(0, 0, 0, 30%);
$restaurant-item-shadow2:rgba(0, 0, 0, 40%);
$contact-parent-shadow1:rgba(0, 0, 0, 80%);
$contact-parent-shadow2:rgba(0, 0, 0, 70%);
$row-shadow1:rgba(0, 0, 0, 80%);
$row-shadow2:rgba(0, 0, 0, 70%);
$column-shadow1:rgba(0, 0, 0, 0.2);
$column-shadow2:rgba(0, 0, 0, 0.19);
$anchor-hover:#C6E9FF;
$anchor-active:#04AA6D;
$btn-background:rgb(125, 170, 182);
$btn2-background:#e9bf36;
$btn2-color:rgb(17, 34, 54);
$btn2-color-hover:rgb(34, 223, 197);
$btn2-hover:#3e144b;
$input-submit-color:#04AA6D;
$input-submit-hover:#45a049;
$footer-background:rgb(66, 65, 66);
$footer-color:rgb(189, 210, 241);
